
.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px;
}

.box {
  width: calc(33.33% - 20px); 
  margin-bottom: 20px; 
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
  box-sizing: border-box;
}


.label {
  margin-bottom: 15px;
  font-size: 18px;
}


.signUpInput,
.profileInput {
  margin-bottom: 15px;
}

.signUpInput {
  margin-top: 5rem;
}

.signUpInput label,
.profileInput label {
  display: block;
  margin-bottom: 5px;
}

.signUpInput input,
.profileInput input,
.profileInput select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


.preferencebtn,
.restrictionbtn {
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  background-color: #4caf50; 
  color: #fff; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.preferencebtn:hover,
.restrictionbtn:hover {
  background-color: #45a049; 
}

.signup-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4caf50; 
  color: #fff; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.signup-container button:hover {
  background-color: #45a049; 
}