.itemcard {
    display: inline-block;  
    width: 80px; 
    height: 40px;     
    background-color: #4e9a61;  
    color: white;  
    font-weight: bold;  
    text-align: center;  
    margin: 10px;  
    cursor: pointer;  
    transition: transform 0.2s ease-in-out; 
    border-radius: 5px;

  }
  
  .itemcard:hover {
    transform: scale(1.3);
  }

  .itemcard {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;    
    border-radius: 55px;         
  }